@page "/studentoverview"
@using DailyPmsShared

<h1 class="page-title">All students</h1>

@if (Students == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <MudTable Items="@Students" FixedHeader="@FixedHeader" Height="@(FixedHeader?"500px":"")" Dense = "false" Hover="true" Striped="true" Breakpoint="Breakpoint.Sm" Filter="new Func<Student, bool>(FilterStudents)">
        <ToolBarContent>
            <MudTextField @bind-Value="SearchString" Placeholder="Search for student" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
        </ToolBarContent>
        <HeaderContent>
            <MudTh><MudTableSortLabel SortBy="new Func<Student, object>(x => x.StudentID)">Student ID</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<Student, object>(x => x.FirstName)">First Name</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<Student, object>(x => x.LastName)">Last Name</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<Student, object>(x => x.BirthDate)">Birth date</MudTableSortLabel></MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Student ID">@context.StudentID</MudTd>
            <MudTd DataLabel="First Name">@context.FirstName</MudTd>
            <MudTd DataLabel="Last Name">@context.LastName</MudTd>
            <MudTd DataLabel="Birth date">@context.BirthDate</MudTd>
        </RowTemplate>
    </MudTable>
}