@page "/studentoverview"

<h1 class="page-title">All students</h1>

@if (Students == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Employee ID</th>
                <th>First name</th>
                <th>Last name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var student in Students)
            {
                <tr>
                    <td><img src="@($"https://gillcleerenpluralsight.blob.core.windows.net/person/{student.StudentID}-small.jpg")" class="rounded-circle" /></td>
                    <td>@student.StudentID</td>
                    <td>@student.FirstName</td>
                    <td>@student.LastName</td>
                    <td>
                        <a href="@($"studentdetail/{student.StudentID}")" class="btn btn-primary table-btn">
                            <i class="fas fa-info-circle"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}