<div>
    <MudNavMenu Style="width:140px;">
        <MudNavLink Href="/home" Icon="@Icons.Filled.Home" Style="color: #AFB7C9; font-weight: lighter;" Class="mb-3 ml-4">Accueil</MudNavLink>
        @*<MudNavLink Href="/counter" Icon="@Icons.Filled.Event" Style="color: #AFB7C9; font-weight: lighter;" Class="mb-3 ml-4">Journalier</MudNavLink>
        <MudNavLink Href="/fetchdata" Icon="@Icons.Filled.LocationOn" Style="color: #AFB7C9; font-weight: lighter;" Class="mb-3 ml-4">Planning</MudNavLink>*@
        <MudNavLink Href="/schools" Icon="@Icons.Filled.AccountBalance" Style="color: #AFB7C9; font-weight: lighter;" Class="mb-3 ml-4">Écoles</MudNavLink>
        <MudNavLink Href="/students" Icon="@Icons.Filled.School" Style="color: #AFB7C9; font-weight: lighter;" Class="ml-4">Étudiants</MudNavLink>
    </MudNavMenu>
</div>